---
interface Props {
  title: string;
  bgSection: string;
  bgBlur: string;
  nombreCompleto: string;
  edad: string;
  apodo: string;
  hobbies: string;
}

const { title, bgSection, bgBlur, nombreCompleto, edad, apodo, hobbies } =
  Astro.props;

import Footer from "./Footer.astro";
---

<section id="about" class="w-screen h-screen flex justify-center relative p-10">
  <img
    class="absolute top-0 left-0 object-cover overflow-hidden w-full h-full -z-10"
    src={bgSection}
    alt="imagen de fondo"
  />
  <div
    class="container flex flex-col items-center justify-between max-w-4xl h-full relative rounded-xl p-4 text-[#fca311]"
  >
    <div class="header flex justify-between items-center content-center w-full">
      <a class="opacity-50 hover:opacity-95" href="#hero">⬅️ Inicio</a>
      <h1 class="text-3xl font-medium">{title}</h1>
      <a class="opacity-50 hover:opacity-95" href="#technologies"
        >Tecnologías ➡️</a
      >
    </div>
    <div
      class="left flex flex-col justify-center items-start h-full w-full relative text-[#bfbdbd] p-4 text-2xl [&>p]:p-2"
    >
      <p>
        <span class="text-[#9d0208]">const</span>
        <span class="text-white"> nombreCompleto</span>: <span
          class="text-[#e85d04]">'{nombreCompleto}'</span
        >;
      </p>
      <p>
        <span class="text-[#9d0208]">let</span>
        <span class="text-[#fca311]"> apodo</span>: <span class="text-[#e85d04]"
          >'{apodo}'</span
        >;
      </p>
      <p>
        <span class="text-[#9d0208]">let</span>
        <span class="text-[#fca311]"> edad</span>: <span class="text-[#e85d04]"
          >'{edad} años'</span
        >;
      </p>
      <p>
        <span class="text-[#9d0208]">let</span>
        <span class="text-[#fca311]"> hobbies</span>: <span
          class="text-[#e85d04]">[{hobbies}]</span
        >;
      </p>
    </div>
    <img
      class="absolute top-0 left-0 -z-10 h-full w-full object-cover overflow-hidden rounded-xl"
      src={bgBlur}
      alt="imagen de fondo difuminada"
    />
  </div>
  <Footer />
</section>
